@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --primary-color: #fff;
  --bg-color: #292929;
}

body {
  font-family: 'Major Mono Display', monospace, sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content form {
  margin-bottom: 20px;
}

.content form .form-control {
  margin-bottom: 5px;
}

.content form .form-control label {
  font-size: 13px;
  font-weight: bold;
}

.content form input[type='text'] {
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: solid 2px var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  width: 200px;
  font-weight: bold;
}

.content .first {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.content .board {
  padding: 5px;
  border: dashed 3px var(--primary-color);
}

.content .board .row {
  display: flex;
}

.content .board .row .box {
  border: dashed 3px var(--primary-color);
  width: 80px;
  height: 80px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.content .board .row .box:hover {
  border-style: solid;
}

.content .reset {
  font-weight: bold;
  font-size: 15px;
  background: var(--primary-color);
  color: var(--bg-color);
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  padding: 7px 14px;
}

.content .winner {
  margin: 20px 0;
  font-weight: bold;
  font-size: 24px;
}
