@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: 'Yuji Boku', sans-serif;
}
